# Arquivo: requirements.txt

# Framewors IA
crewai
crewai_tools

# Framework Web
Flask
Flask-Cors

# Banco de Dados
pymongo[srv]

# Autenticação (para as próximas seções)
passlib[bcrypt]==1.7.4
python-jose[cryptography]
Flask-JWT-Extended

# Manipulação de Arquivos
python-docx
docxtpl
openpyxl
pandas
reportlab
tabulate

# IA
google-generativeai

# Configuração
python-dotenv

# Criptografia
bcrypt==3.2.0